<slot />

<div class="footer">
    <p>MiMascota | &copy; 2023</p>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(150, 0, 250);
        color: white;
        text-align: center;
        padding: 1% 0%;
        font-family: "Courier New", Courier, monospace;
    }
</style>
