<div class="main-bg">
    <div class="main-wrapper">
        <div class="my-headline">hecho con 💜 por mi dueño</div>
    </div>
</div>

<style lang="scss">
    @use "~/attractions/typography/headline.scss";

    .my-headline {
        @extend .headline;
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        float: left;
        margin-top: 35vh;
        margin-left: 40vw;
        font-size: 2.5em;
    }

    :global(body),
    :global(html) {
        margin: 0;
        padding: 0;
    }

    .main-wrapper,
    .main-bg {
        width: 100vw;
        height: 100vh;
    }
    .main-wrapper {
        background-color: rgba(130, 0, 255, 0.4);
    }

    .main-bg {
        background-image: url("images/bg_dog.jpg");
    }
</style>
